<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Mini Market</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">


<link href="img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">


<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">


<link href="lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">


<link href="/css/style.css" rel="stylesheet">
</head>

<body>
	<!-- Topbar Start -->

	<div class="row align-items-center py-3 px-xl-5">
		<div class="col-lg-3 d-none d-lg-block">

			<h1 class="m-0 display-5 font-weight-semi-bold">
				<span class="text-primary font-weight-bold border px-3 mr-1">Mini</span>Market
			</h1>
			</a>
		</div>
		<div class="col-lg-6 col-6 text-left">
			<form action="">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Search for products">
					<div class="input-group-append">
						<span class="input-group-text bg-transparent text-primary">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-3 col-6 text-right">
			<a href="user/cart.html" class="btn border"> <i
				class="fas fa-shopping-cart text-primary"></i> <span class="badge"
				th:text="${cart_count}"></span>
			</a>
		</div>
	</div>
	</div>
	<!-- Topbar End -->


	<!-- Navbar Start -->
		<input type="hidden" id="msg" th:value="${session.success}" />
	<div class="container-fluid mb-5">
		<div class="row border-top px-xl-5">
			<div class="col-lg-3 d-none d-lg-block">
				<a
					class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
					data-toggle="collapse" href="#navbar-vertical"
					style="height: 65px; margin-top: -1px; padding: 0 30px;">
					<h6 class="m-0">Categories</h6> <i
					class="fa fa-angle-down text-dark"></i>
				</a>
				<nav
					class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
					id="navbar-vertical">
					<div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
						<div class="nav-item dropdown">
							<a href="#" class="nav-link" data-toggle="dropdown">Grocery<i
								class="fa fa-angle-down float-right mt-1"></i></a>
							<div
								class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
								<a href="/Atta.html" class="dropdown-item">Atta</a> <a
									href="/masala.html" class="dropdown-item">Masala</a> <a
									href="/chatni.html" class="dropdown-item">Chutney</a>
							</div>
						</div>
						<div class="nav-item dropdown">
							<a href="#" class="nav-link" data-toggle="dropdown">Sweets <i
								class="fa fa-angle-down float-right mt-1"></i></a>
							<div
								class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
								<a href="/Laddoo.html" class="dropdown-item">Laddo</a> <a
									href="/Candy.html" class="dropdown-item">Candy</a>

							</div>
						</div>

						<div class="nav-item dropdown">
							<a href="#" class="nav-link" data-toggle="dropdown">Other <i
								class="fa fa-angle-down float-right mt-1"></i></a>
							<div
								class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
								<a href="/Snacks.html" class="dropdown-item">Snacks</a> <a
									href="/more.html" class="dropdown-item">More Products</a>

							</div>
						</div>


					</div>
				</nav>
			</div>
			<div class="col-lg-9">
				<nav
					class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
					<a href="" class="text-decoration-none d-block d-lg-none">
						<h1 class="m-0 display-5 font-weight-semi-bold">
							<span class="text-primary font-weight-bold border px-3 mr-1">Mini</span>Market
						</h1>
					</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse"
						data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-between"
						id="navbarCollapse">
						<div class="navbar-nav mr-auto py-0">
							<a href="/index.html" class="nav-item nav-link active">Home</a> <a
								href="/detail.html" class="nav-item nav-link">Shop Detail</a> <a
								href="/contact.html" class="nav-item nav-link">Contact</a>
						</div>
						<div class="navbar-nav ml-auto py-0">
							<a href="/login" class="nav-item nav-link">Login</a> <a
								href="/regi.html" class="nav-item nav-link">Register</a>
						</div>
					</div>
				</nav>
				<div id="header-carousel" class="carousel slide"
					data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active" style="height: 410px;">
							<img class="img-fluid" src="/img/sale3.jpg" alt="Image">
							<div
								class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 700px;">
									<h4 class="text-light text-uppercase font-weight-medium mb-3">10%
										Off Your First Order Of Masala</h4>
									<h4 class="display-4 text-white font-weight-semi-bold mb-4">Limited
										Time Offer</h4>
									<a href="masala.html" class="btn btn-light py-2 px-3">Shop Now</a>
								</div>
							</div>
						</div>
						<div class="carousel-item" style="height: 410px;">
							<img class="img-fluid" src="/img/front3.jpg" alt="Image">
							<div
								class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 700px;">
									<h4 class="text-light text-uppercase font-weight-medium mb-3">10%
										Off Your First Order</h4>
									<h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable
										Price</h3>
									<a href="Laddoo.html" class="btn btn-light py-2 px-3">Shop Now</a>
								</div>
							</div>
						</div>
						<div class="carousel-item" style="height: 410px;">
							<img class="img-fluid" src="/img/sale2.jpg" alt="Image">
							<div
								class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 700px;">
									<a href="Atta.html" class="btn btn-light py-2 px-3">Shop Now</a>
								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#header-carousel"
						data-slide="prev">
						<div class="btn btn-dark" style="width: 45px; height: 45px;">
							<span class="carousel-control-prev-icon mb-n2"></span>
						</div>
					</a> <a class="carousel-control-next" href="#header-carousel"
						data-slide="next">
						<div class="btn btn-dark" style="width: 45px; height: 45px;">
							<span class="carousel-control-next-icon mb-n2"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Navbar End -->

	<!-- Offer Start -->
	<div class="container-fluid offer pt-5">
		<div class="row px-xl-5">
			<div class="col-md-6 pb-4">
				<div
					class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
					<img src="/img/AF2.png" alt="">
					<div class="position-relative" style="z-index: 1;">
						<h5 class="text-uppercase text-primary mb-3">40% off the all
							order</h5>
						<h2 class="mb-4 font-weight-semi-bold">Festive Offer</h2>
						<a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop
							Now</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 pb-4">
				<div
					class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
					<img src="/img/AF.png" alt="">
					<div class="position-relative" style="z-index: 1;">
						<h5 class="text-uppercase text-primary mb-3">40% off the all
							order</h5>
						<h2 class="mb-4 font-weight-semi-bold">Seasonal Offers</h2>
						<a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop
							Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Offer End -->



	<!-- Categories Start -->
	<div class="container-fluid pt-5">
		<div class="row px-xl-5 pb-3">
			<div class="col-lg-4 col-md-6 pb-1">
				<div class="cat-item d-flex flex-column border mb-4"
					style="padding: 30px;">
					<p class="text-right">15 Products</p>
					<a href="/Atta.html"
						class="cat-img position-relative overflow-hidden mb-3"> <img
						class="img-fluid" src="/img/atta1.jpg" alt="">
					</a>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Atta</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pb-1">
				<div class="cat-item d-flex flex-column border mb-4"
					style="padding: 30px;">
					<p class="text-right">15 Products</p>
					<a href="/Laddoo.html"
						class="cat-img position-relative overflow-hidden mb-3"> <img
						class="img-fluid" src="/img/l7.jpg" alt="">
					</a>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Laddo</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pb-1">
				<div class="cat-item d-flex flex-column border mb-4"
					style="padding: 30px;">
					<p class="text-right">15 Products</p>
					<a href="/masala.html"
						class="cat-img position-relative overflow-hidden mb-3"> <img
						class="img-fluid" src="/img/masala6.jpg" alt="">
					</a>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Masala</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pb-1">
				<div class="cat-item d-flex flex-column border mb-4"
					style="padding: 30px;">
					<p class="text-right">15 Products</p>
					<a href="/chatni.html"
						class="cat-img position-relative overflow-hidden mb-3"> <img
						class="img-fluid" src="/img/chatni4.jpg" alt="">
					</a>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Chutney</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pb-1">
				<div class="cat-item d-flex flex-column border mb-4"
					style="padding: 30px;">
					<p class="text-right">15 Products</p>
					<a href="/Candy.html"
						class="cat-img position-relative overflow-hidden mb-3"> <img
						class="img-fluid" src="/img/candy4.jpg" alt="">
					</a>
					<!--    <h5 class="font-weight-semi-bold m-0">Candys</h5>-->
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Candys</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pb-1">
				<div class="cat-item d-flex flex-column border mb-4"
					style="padding: 30px;">
					<p class="text-right">15 Products</p>
					<a href="/Snacks.html"
						class="cat-img position-relative overflow-hidden mb-3"> <img
						class="img-fluid" src="/img/more2.jpg" alt="">
					</a>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Snacks</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Categories End -->


	<!-- Featured Start -->
	<div class="container-fluid pt-5">
		<div class="row px-xl-5 pb-3">
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center border mb-4"
					style="padding: 30px;">
					<h1 class="fa fa-check text-primary m-0 mr-3"></h1>
					<h5 class="font-weight-semi-bold m-0">Quality Product</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center border mb-4"
					style="padding: 30px;">
					<h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
					<h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center border mb-4"
					style="padding: 30px;">
					<h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
					<h5 class="font-weight-semi-bold m-0">3-Day Return</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center border mb-4"
					style="padding: 30px;">
					<h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
					<h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
				</div>
			</div>
		</div>
	</div>
	<!-- Featured End -->


	<!-- Products Start -->
	<div class="container-fluid pt-5">
		<div class="text-center mb-4">
			<h2 class="section-title px-5">
				<span class="px-2">More Discount</span>
			</h2>
		</div>
		<div class="row px-xl-5 pb-3">
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/atta3.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Kuith peeth</h6>
						<div class="d-flex justify-content-center">
							<h6>Rs123.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs333.00</del>
							</h6>
						</div>
					</div>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/Atta.html"
							class="btn btn-sm text-dark p-0 bg-light border"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/chatni8.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Jawas Chutney</h6>
						<div class="d-flex justify-content-center">
							<h6>Rs93.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs223.00</del>
							</h6>
						</div>
					</div>


					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/chatni.html"
							class="btn btn-sm text-dark p-0 bg-light border"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					</div>

				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/masala7.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Garam Masala</h6>
						<div class="d-flex justify-content-center">
							<h6>Rs223.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs423.00</del>
							</h6>
						</div>
					</div>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/masala.html"
							class="btn btn-sm text-dark p-0 bg-light border"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/l6.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Rajgiri Laddo</h6>
						<div class="d-flex justify-content-center">
							<h6>Rs123.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs323.00</del>
							</h6>
						</div>
					</div>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/Laddoo.html"
							class="btn btn-sm text-dark p-0 bg-light border"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Products End -->





	<!-- Products Start -->
	<div class="container-fluid pt-5">
		<div class="text-center mb-4">
			<h2 class="section-title px-5">
				<span class="px-2">Just Arrived Item's</span>
			</h2>
		</div>
		<div class="row px-xl-5 pb-3">
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/h2.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Chlli Flek</h6>
						<div class="d-flex justify-content-center">
							<h6>Rs123.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs223.00</del>
							</h6>
						</div>
					</div>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/more.html"
							class="btn btn-sm text-dark p-0 bg-light border"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>


					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/vendor7.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Garlic Chutney</h6>
						<div class="d-flex justify-content-center">
							<h6>RS150.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs223.00</del>
							</h6>
						</div>
					</div>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/chatni.html"
							class="btn btn-sm text-dark p-0 bg-light border"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/vendor1.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Snack Mix</h6>
						<div class="d-flex justify-content-center">
							<h6>Rs123.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs323.00</del>
							</h6>
						</div>
					</div>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/Snacks.html"
							class="btn btn-sm text-dark p-0 bg-light border"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="card product-item border-0 mb-4">
					<div
						class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
						<img class="img-fluid w-100" src="/img/vendor4.jpg" alt="">
					</div>
					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3">
						<h6 class="text-truncate mb-3">Motichoor ladoo</h6>
						<div class="d-flex justify-content-center">
							<h6>Rs223.00</h6>
							<h6 class="text-muted ml-2">
								<del>Rs343.00</del>
							</h6>
						</div>
					</div>

					<div
						class="card-body border-left border-right text-center p-0 pt-4 pb-3 bg-light border">
						<a href="/Atta.html" class="btn btn-sm text-dark p-0"><i
							class="fas fa-eye text-primary mr-1"></i>View Detail</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Products End -->







	<!-- Footer Start -->
	<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
		<div class="row px-xl-5 pt-5">
			<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
				<a href="" class="text-decoration-none">
					<h1 class="mb-4 display-5 font-weight-semi-bold">
						<span
							class="text-primary font-weight-bold border border-white px-3 mr-1">Mini</span>Market
					</h1>
				</a>
				<p>Shop No 2, Ward No-46,Aaudumber Nivas,Kalyan navi mumbai
					Road,Anandwadi,Mumbai 431501</p>
				<p class="mb-2">
					<i class="fa fa-map-marker-alt text-primary mr-3"></i>Kalyan,
					Mumbai, India
				</p>
				<p class="mb-2">
					<i class="fa fa-envelope text-primary mr-3"></i>minimarket007@gmail.com
				</p>
				<p class="mb-0">
					<i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890
				</p>
			</div>

			<div class="col-md-4 mb-5">
				<h5 class="font-weight-bold text-dark mb-4">Social</h5>
				<div class="d-flex flex-column justify-content-start">
					<a class="text-dark mb-2" href="https://www.facebook.com/"><i
						class="fa fa-angle-right mr-2"></i>FaceBook</a> <a
						class="text-dark mb-2" href="https://www.instagram.com"><i
						class="fa fa-angle-right mr-2"></i>Instagram</a> <a class="text-dark"
						href="https://accounts.google.com/"><i
						class="fa fa-angle-right mr-2"></i>You Tube</a>
				</div>
			</div>
			<div class="col-md-4 mb-5">

				<h5 class="font-weight-bold text-dark mb-4">Enquiry</h5>
				<p>Regarding shipping,Payment,Return & Cancllation</p>
				<form th:action="@{/help}" method="post">
					<div class="form-group">
						<input type="text" class="form-control border-0 py-4" name="name"
							placeholder="Your Name" required="required" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control border-0 py-4" name="email"
							placeholder="Mobile No" required="required" />
					</div>
					<div>
						<button class="btn btn-primary btn-block border-0 py-3"
							type="submit">Call Us</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Footer End -->


	<!-- Back to Top -->
	<a href="#" class="btn btn-primary back-to-top"><i
		class="fa fa-angle-double-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Contact Javascript File -->
	<script src="mail/jqBootstrapValidation.min.js"></script>
	<script src="mail/contact.js"></script>

	<!-- Template Javascript -->
	<script src="js/main.js"></script>
	
	
	
	
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="/alert/dist/sweetalert.css">

	<script type="text/javascript">
		var status = document.getElementById("msg").value;
		if (status == "Will Try To Help You") {
			swal("Thanks for Connect", "We will call you");

		}
	</script>;
	 
<th:block th:inline="text"> [[${#session.removeAttribute('success')}]]</th:block>
		
	
</body>

</html>
